body {
	border: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  font-size: 1rem;
}

header {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  background: #fff;
  height: 4rem;
}

::-moz-selection { background: #546E7A; }
::selection { background: #546E7A; }

code::selection { background: #424242; }

.center { text-align: center; }

/* Themes */ 
.theme--black { background: #212121; color: #fafafa;}
.theme--white { background: #fafafa; color: #212121;}
.theme--gray { color: #716a6c;}
.text { color: #fafafa; }
.attr { color: #92cd2d; }
.val { color: #dcd06c; }
.prop { color: #03a9f4; }
.number { color: #9f7cfa; }
.theme--gray a { text-decoration: none; color: #716a6c; }

.title, .subtitle, .description, .code--title, .code--example__title {
  font-family: 'Roboto', Arial, Verdana;
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

.code--title {
  font-weight: 700;
}

.tag--single {
  padding: 2rem 0 4rem 0;
}

.code--example__title {
  margin: 1rem 0;
}

.code--block, .code--example__container {
  background: #272822;
  color: #dc2665;
  width: 50rem;
  display: block;
  padding: 3rem 1rem;
  font-size: 1.1rem;
  margin: 0 auto;
}


.code--example__container {
  margin: 1rem auto;
  background: #fafafa;
  padding: 1.5rem 1rem;
}

.block {
  background: #272822;
  width: 30rem;
  height: 100px;
  border-radius: 20px;
}

.block--shadow {
  background: #272822;
  width: 100px;
  height: 100px;
  box-shadow: 5px 5px 3px 1px #999;
  /*box-shadow: inset 0 0 7px 5px #ddd;*/
}

.shadow {
  text-shadow: -2px 2px 2px #999;
}