body {
	border: 0;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p {
  font-size: 1rem;
}

header {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1);
  background: #fff;
  height: 4rem;
}

::-moz-selection { background: #546E7A; }
::selection { background: #546E7A; }

code::selection { background: #424242; }

.center { text-align: center; }

/* Themes */ 
.theme--black { background: #212121; color: #fafafa;}
.theme--white { background: #fafafa; color: #212121;}
.theme--gray { color: #716a6c;}
.text { color: #fafafa; }
.attr { color: #92cd2d; }
.val { color: #dcd06c; }
.theme--gray a { text-decoration: none; color: #716a6c; }

.title, .subtitle, .description, .code--title, .code--example__title {
  font-family: 'Roboto', Arial, Verdana;
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

.code--title {
  font-weight: 700;
}

.tag--single {
  padding: 2rem 0 4rem 0;
}

.code--example__title {
  margin: 1rem 0;
}

.code--block, .code--example__container {
  background: #272822;
  color: #dc2665;
  width: 50rem;
  display: block;
  
  padding: 2rem 0;
  font-size: 1.1rem;
  margin: 0 auto;
}


.code--example__container {
  margin: 1rem auto;
  background: #fafafa;
  padding: .5rem 0;
}